<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.base">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <compatible-screens>

        <!-- all small size screens -->

        <screen
            android:screenDensity="hdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="420"
            android:screenSize="small" />
        <screen
            android:screenDensity="480"
            android:screenSize="small" />
        <screen
            android:screenDensity="560"
            android:screenSize="small" />
        <screen
            android:screenDensity="640"
            android:screenSize="small" />
        <!-- all normal size screens -->

        <screen
            android:screenDensity="hdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="420"
            android:screenSize="normal" />
        <screen
            android:screenDensity="480"
            android:screenSize="normal" />
        <screen
            android:screenDensity="560"
            android:screenSize="normal" />
        <screen
            android:screenDensity="640"
            android:screenSize="normal" />
    </compatible-screens>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".core.AppApplication"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize|keyboardHidden"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan">
        <activity android:name="com.base.core.MainActivity"></activity>
        <activity android:name="com.base.core.BaseActivity" />
        <activity android:name="com.base.core.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.fitfix.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name="com.base.activities.AppSettings"></activity>
    </application>

</manifest>